.statistics {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}
  
.title {
    padding: 30px 0;
    text-transform: uppercase;
    color: #acaaaa;
    font-weight: 600;
  }
  
.list {
    display: flex;
  }